<script context="module" lang="ts">
    export const prerender = true;
</script>

<script lang="ts">
    import {getPaired, pair} from '$lib/dfu/dfu';
    import {onMount} from 'svelte';
    import {DFUDevice} from '$lib/dfu/dfu-device';
    import {DFUInterface} from '$lib/dfu/dfu-interface';
    import Container from '$lib/container/Container.svelte';

    let devices: DFUDevice[] = [];

    function pairDevice() {
        console.log('Pairing new device...');
        pair().then(dev => {
            if (devices.find(d => d === dev)) {
                return;
            }
            devices.push(dev);
            devices = devices;
        });
    }

    function loadDevices() {
        console.log('Getting paired devices...');
        getPaired().then(paired => {
            console.log(`Found ${paired.length} device${paired.length === 1 ? '' : 's'}.`);
            devices = devices.concat(paired);
        });
    }

    function dragOverHandler(event: DragEvent) {
        //console.log('dragover', event);
        event.preventDefault();
    }

    async function dropHandler(event: DragEvent, intf: DFUInterface) {
        console.log('drop', event);
        event.preventDefault();

        let file: File;
        if (event.dataTransfer.items &&
            event.dataTransfer.items.length === 1 &&
            event.dataTransfer.items[0].kind === 'file'
        ) {
            file = event.dataTransfer.items[0].getAsFile();
            console.log(`item file: ${file.name}`);
        } else if (event.dataTransfer.files && event.dataTransfer.files.length === 1) {
            file = event.dataTransfer.files[0];
            console.log(`file ${file.name}`);
        } else {
            return;
        }

        const buf = await file.arrayBuffer();
        await intf.download(buf);
    }

    onMount(() => {
        loadDevices();
        navigator.usb.onconnect = async (event) => {
            const device = new DFUDevice(event.device);
            await device.init();
            devices.push(device);
            devices = devices;
        };
        navigator.usb.ondisconnect = event => {
            devices = devices.filter(d => d.usb !== event.device);
        };
    });
</script>

<svelte:head>
    <title>DFUTool</title>
</svelte:head>

<Container>
    <h1>DFUTool</h1>
    <p>Flash your DFU enabled devices using the WebUSB API.</p>
    <h3>Devices</h3>
    <ul class="device-list">
        {#each devices as device}
            {#if !device.hidden}
                <li>
                    <div class="device-row device-controls">
                        <div class="device-name">
                            <i class="fa fa-microchip fa-mr"></i>{device.name}
                        </div>
                        {#if !device.interfaces.some(intf => intf.isTrigger)}
                            <div class="clickable dfu-btn"
                                 on:click={() => device.interfaces[0].detach(true)}>
                                <button>
                                    <i class="fa fa-power-off fa-mr"></i>
                                    <span>Exit Bootloader</span>
                                </button>
                            </div>
                        {/if}
                        {#each device.interfaces.filter(i => i.isTrigger) as intf}
                            <div class="clickable dfu-btn" on:click={() => intf.detach()}>
                                <button>
                                    <i class="fa fa-plug fa-pad-2 fa-mr"></i>Enter Bootloader
                                </button>
                            </div>
                        {/each}
                    </div>
                    {#if device.interfaces.some(i => !i.isTrigger)}
                        {#each device.interfaces.filter(i => !i.isTrigger) as intf}
                            <div class="device-row" class:corrupt={intf.corrupt}
                                 on:drop={(event) => dropHandler(event, intf)}
                                 on:dragover={dragOverHandler}>
                                <div>
                                    <i class="fa fa-download fa-mr"></i>{intf.settingName}
                                </div>
                                {#if intf.corrupt}
                                    <div title="This firmware is corrupt">
                                        <i class="fa fa-exclamation-circle"></i>
                                    </div>
                                {/if}
                            </div>
                        {/each}
                    {/if}
                </li>
            {/if}
        {/each}
        <li id="device-add" class="clickable" on:click={pairDevice}>
            <button>
                <i class="fa fa-plus fa-pad-2 fa-mr"></i>Connect device
            </button>
        </li>
    </ul>
</Container>

<style>
    .clickable, .clickable button {
        cursor: pointer;
    }

    .corrupt {
        background-color: #ffeabf;
    }

    .corrupt .fa.fa-exclamation-circle {
        color: #fa0;
        font-size: 1.5em;
    }

    .corrupt .fa.fa-exclamation-circle::before {
        background: radial-gradient(black 50%, transparent 50%);
        border-radius: 1em;
    }

    .device-list {
        list-style: none;
        margin: 0;
    }

    .device-list > li {
        background: #fefefe;
        min-height: 2.5em;
        margin-bottom: .5em;
        border-radius: .5em;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.20);
        transition: background-color .25s;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    .device-row {
        padding-left: 1em;
        padding-right: 1em;
        min-height: 3em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .device-row:not(:last-child) {
        border-bottom: 1px solid lightgray;
    }

    .device-row > div {
        display: flex;
        align-items: center;
    }

    .device-row > div:not(:last-child) {
        padding-right: .5em;
    }

    .device-row > div:not(:first-child) {
        padding-left: .5em;
    }

    .device-row.device-controls {
        min-height: 2.5em;
        padding-right: 0;
    }

    .device-row div.device-name {
        border-right: none;
    }

    #device-add {
        padding-left: 1em;
        display: flex;
        flex-direction: row;
    }

    #device-add:hover {
        background: #f6f6f6;
    }

    #device-add button, .dfu-btn button {
        background: transparent;
        border: none;
        font-family: inherit;
        font-size: inherit;
        text-align: left;
        color: inherit;
        padding: 0;
        margin: 0;
    }

    .dfu-btn {
        min-width: 9em;
        padding-right: .5em;
        transition: background-color .25s;
        border-left: 1px solid lightgray;
        background: #f0f0f0;
    }

    .dfu-btn:hover {
        background: #e0e0e0;
    }
</style>
