<div class="container">
    <slot/>
</div>

<style>
    .container {
        background: #fefefe;
        margin-top: 1em;
        padding: 1.5em;
        border-radius: 1.5em;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.20);
    }
</style>
