html,
body {
    margin: 0;
    height: 100%;
}

body {
    user-select: none;
    font-family: "Segoe UI", Roboto, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, #aad 0%, #aac 10%, #eee 40%);
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

ul {
    padding: 0;
}

#svelte {
    width: 50%;
}

.fa-mr {
    margin-right: .5em;
}

.fa-pad-2 {
    padding-left: 1px;
    padding-right: 1px;
}
